<a href="https://colab.research.google.com/github/sangxxjin/python/blob/main/python_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(list(range(1,6,2)))

In [ ]:
list_1 = ['apple','banana']
print(list_1)
print(list(range(1,10,2)))
print(list(enumerate(range(1,10,2))))  #enumerate는 기본적으로 0부터 시작
# print(enumerate(range(1,10,2)))
print(list(enumerate(range(1,10,2),start = 1)))
print(list(enumerate(range(1,10,2),start = 10)))

In [ ]:
# 축약
sum = 0
sum = sum + 1
print(sum)
sum += 1
print(sum)

In [1]:
#list = [1, 4, 9, 16]

# 기본
list_2 = []
for x in range(1,5):
  list_2.append(x*x)  #** = 제곱
print(list_2)

list_3 = [x*x for x in range(1,5)]
print(list_3)

[1, 4, 9, 16]
[1, 4, 9, 16]

In [2]:
# 기본
even_list = []
for i in range(1,11):
  if i%2 == 0:
    even_list.append(i)
print(even_list)

# 축약
even_list_2 = [i for i in range(1,11) if i%2==0]
print(even_list)

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]

In [ ]:
# dict_1 = {'apple':1, 'banana':2}
# word2id = {'관상용':0, '심지':1, '길가':2, '빈터':3, '자라':4, '야생종':5}

word2id = {}
text = "관상용 심지 길가 빈터 자라 야생종"
text_list = text.split()
print(text_list)
for id, word in enumerate(text_list):
  print(id ,'=>', word)
  word2id[word] = id
print(word2id)

id2word = {}
for word, id in enumerate(text_list):
  print(word ,'=>', id)
  word2id[word] = id
  id2word[id] = word
print(id2word)

In [ ]:
for i in range(1,11):
  print(i, end = ' ')
print()
for i in range(1,11):
  if i < 6:
    print('--')
print('-------------')
for i in range(1,11):
  print(i, end = ' ')
  if i > 6:
    print("--")
print("+++++++++++++")
for i in range(1,11):
  print(i, end = ' ')
  if i > 4:
    print("--")
    break

In [ ]:
# while문
while True:   #while 조건식:
  #실행문
  break

while False:
  #실행문

In [ ]:
for i in range(10):
  print(i, end = ' ')
  if i > 5:
    break
print()

k = 0
while k < 7:
  print(k, end = ' ')
  k += 1