<a href="https://colab.research.google.com/github/sangxxjin/python/blob/main/python_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

파이썬에서 함수는 재사용 가능한 코드 블록으로, 특정 작업을 수행하는 코드의 모음입니다. 함수를 정의하면 코드를 모듈화하고 코드의 가독성을 높일 수 있습니다.

함수는 def 키워드를 사용하여 정의하며, 다음과 같은 구문으로 작성합니다:

In [ ]:
def function_name(parameters):
    """docstring"""
    # 함수의 코드 블록
    return value

위의 구문에서 function_name은 함수의 이름이며, parameters는 함수에 전달되는 인수입니다. 함수의 코드 블록은 콜론(:) 다음에 옵니다. 함수는 return 키워드를 사용하여 결과를 반환할 수 있습니다.

함수의 docstring은 함수의 설명을 포함하는 문자열입니다. 이는 함수의 도움말 문서를 생성하는 데 사용됩니다.

예를 들어, 다음은 두 개의 숫자를 더하는 간단한 함수의 예입니다:

In [ ]:
def add_numbers(x, y):
    """두 개의 숫자를 더합니다."""
    result = x + y
    return result

이제 위 함수를 호출하여 결과를 확인할 수 있습니다:

In [ ]:
>>> add_numbers(1, 2)
3

함수는 모듈 내에서 어디서든 호출할 수 있으며, 필요할 때마다 재사용할 수 있습니다. 함수는 파이썬에서 매우 중요하며, 다양한 라이브러리 및 프로그램에서 자주 사용됩니다.

In [ ]:
even_list=[]
for i in range(1,11):
  if i%2==0:
    even_list.append(i)
print(even_list)

[2, 4, 6, 8, 10]

In [ ]:
even_list_1=[]
for i in range(50,71):
  if i%2==0:
    even_list_1.append(i)
print(even_list_1)

[50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70]

In [ ]:
def even_list_gen(f_num, s_num):
  e_list=[]
  for i in range(f_num, s_num+1):
    if i%2==0:
      e_list.append(i)
  return e_list,77,99


aaa = even_list_gen(50,70)
print(aaa)
print('--------')
bbb, a, b =even_list_gen(50,70)
print(bbb)
print(a)
print(b)

([50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70], 77, 99)
--------
[50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70]
77
99

In [ ]:
def even_list_gen(f_num, s_num):
  e_list=[]
  for i in range(f_num, s_num+1):
    if i%2==0:
      e_list.append(i)
  return f_num, s_num, e_list

print('string')
aaa = even_list_gen(1,10)
print(aaa)
print('--------')
first_input, second_input, even_list = even_list_gen(50,70)
print("첫번째 입력값 %d"%first_input)
print("두번째 입력값 %d"%second_input)
print("원하는 리스트는 ",even_list)

string
(1, 10, [2, 4, 6, 8, 10])
--------
첫번째 입력값 50
두번째 입력값 70
원하는 리스트는  [50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70]

In [ ]:
def ff(x):
  pass

def f(x):
  y=2*x
  return y

def f1(x):
  y=2*x*x+3
  return y

def add(a,b):
  y=a+b
  return y

In [ ]:
def ex(a, b=7):
  print(b)

ex(1)

7

In [ ]:
print("Hello",end =" ")
print("Hello")
print("Hello")

Hello Hello
Hello

In [32]:
text = 'python'
e_text=text.replace('t','k')
print(e_text)

pykhon
pykhon

In [38]:
def my_replace(ex_text,old,new):
  text=ex_text.replace('old','new')
  return text

text_e = my_replace('hello','l','k')
print(text_e)

hello

In [41]:
def my_replace(ex_text, old, new):
    text = ''
    for char in ex_text:
        if char == old:
            text += new
        else:
            text += char
    return text
text_e = my_replace('hello', 'l', 'k')
print(text_e)

hekko