<a href="https://colab.research.google.com/github/sangxxjin/python/blob/main/python_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#함수의 관계
def 함수이름(매개변수):
  print(매개변수)
  #pass
  결과값 = 1000
  return 결과값

return_value = 함수이름(매개변수 = 10)
print(return_value)

10
1000

In [ ]:
class My_testclass:
  #class는 대문자로 시작하는게 대부분
  a=10
  b=10
  def my_add(self):
    return print(self.a + self.b)
    #함수는 소문자로 시작하는게 대부분
m_a=My_testclass()
#생성자 생성하고 아래에서 생성자의 함수를 호출함
m_a.my_add()

20

In [ ]:
class My_testclass_1:
  a = 10
  b = 20
  def __init__(self, c, d):
    self.c = c
    self.d = d

  def my_add(self):
    return print(self.a + self.b)
  def my_add_1(self):
    return print(self.c + self.d)

m_a_1 = My_testclass_1(30,40)
m_a_1.my_add()
print("------------")
m_a_1.my_add_1()

30
------------
70

In [ ]:
aa=''
print('----------')
print(aa)
print('------------')
bb=not ''
print(bb)
cc='\n'
print(cc)

dd='abc\n\n\n'
print(dd)
print('-------------')
ee = dd.strip()
print(ee)
print('-----------')


data=input()
print(data)
data_1=input()

----------

------------
True


abc



-------------
abc
-----------
gogo
gogo

In [ ]:
for i in range(10):
  print('item%d'%(i+1))
#이와 같은 문제들은 리스트와 프린트로 그냥 출력하는 경우가 있음

item1
item2
item3
item4
item5
item6
item7
item8
item9
item10

In [ ]:
#writedata.py
f_out = open("test.txt",'w')
for i in range(1,11):
  data = '%d번째 줄입니다.\n'%i
  f_out.write(data)
f_out.close()

In [ ]:
with open("test.txt",'w') as f_out:
  for i in range(1,11):
   data = '%d번째 줄입니다.\n'%i
   f_out.write(data)

In [ ]:
#readline_test.py
with open("test.txt",'r') as f_in:
  line = f_in.readlines()
  print(line)

['1번째 줄입니다.\n', '2번째 줄입니다.\n', '3번째 줄입니다.\n', '4번째 줄입니다.\n', '5번째 줄입니다.\n', '6번째 줄입니다.\n', '7번째 줄입니다.\n', '8번째 줄입니다.\n', '9번째 줄입니다.\n', '10번째 줄입니다.\n']

In [ ]:
# #readline_test.py
# f_in = open("test.txt",'r')
# line = f_in.readlines()
# print(line)
# f_in.close()

1번째 줄입니다.

In [ ]:
#readline_all.py
f = open("test.txt",'r')
for line in 
  line = f.readlines
print(line)
f_in.close()

In [ ]:
code = 65
char = chr(code)
print(char)

# for code in range(65,91):
#   print(chr(code),)

# print([chr])

A

In [ ]:
ch = '가'
num_code = ord(ch)
print(num_code)

44032

In [ ]:
code = 44032
char = chr(code)
print(char)

가