<a href="https://colab.research.google.com/github/sangxxjin/python/blob/main/python_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
sum=0
sum=sum+1
print(sum)

1

In [ ]:
score=50
if score>=60:
  result='pass'
else:
  result='fail'
print(result)

fail

In [ ]:
result_1='pass' if score >= 60 else 'fail'
print(result_1)

fail

In [ ]:
list_1=[]
for i in range(1,6):
  list_1.append(i*i)
print(list_1)

[1, 4, 9, 16, 25]

In [ ]:
list_2=[i*i for i in range(1,6)]
print(list_2)

[1, 4, 9, 16, 25]

In [ ]:
def my_squre(x):
  return x*x
print(my_squre(3))

my_f = lambda x: x*x
print(my_f(3))

9
9

sorted() 함수는 파이썬 내장 함수 중 하나로, iterable(반복 가능한) 객체의 요소들을 오름차순으로 정렬해주는 함수입니다. sort() 메서드와 달리, sorted() 함수는 정렬된 새로운 리스트를 반환합니다.

sorted() 함수는 아래와 같은 형태로 사용할 수 있습니다.

In [ ]:
sorted(iterable, key=None, reverse=False)

iterable: 정렬할 iterable 객체입니다. 리스트, 튜플, 셋, 딕셔너리 등이 사용될 수 있습니다.
key (옵션): 정렬에 사용할 키 함수입니다. 기본값은 None입니다.
reverse (옵션): 정렬 순서를 반대로 정렬할 지를 결정합니다. True면 내림차순으로 정렬하고, False면 오름차순으로 정렬합니다. 기본값은 False입니다.
예를 들어, 아래와 같이 리스트를 정렬할 수 있습니다.

In [ ]:
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
new_list = sorted(my_list)  # 리스트를 오름차순으로 정렬한 새로운 리스트를 반환
print(new_list)  # 출력 결과: [1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9]

reverse 옵션을 사용하여 내림차순으로 정렬할 수도 있습니다.

In [ ]:
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
new_list = sorted(my_list, reverse=True)  # 리스트를 내림차순으로 정렬한 새로운 리스트를 반환
print(new_list)  # 출력 결과: [9, 6, 5, 5, 5, 4, 3, 3, 2, 1, 1]

key 옵션을 사용하여 정렬 기준을 지정할 수도 있습니다. 예를 들어, 아래와 같이 문자열의 길이를 기준으로 정렬할 수 있습니다.

In [ ]:
my_list = ['apple', 'banana', 'kiwi', 'orange']
new_list = sorted(my_list, key=len)  # 문자열의 길이를 기준으로 정렬한 새로운 리스트를 반환
print(new_list)  # 출력 결과: ['kiwi', 'apple', 'banana', 'orange']

In [ ]:
list_3=[2,4,1,5]
print(list_3)
# total = sum(list_3)
# print(total)
list_sorted=sorted(list_3)
print(list_sorted)
list_sorted_r=sorted(list_3,reverse=True)
print(list_sorted_r)

[2, 4, 1, 5]
[1, 2, 4, 5]
[5, 4, 2, 1]

In [ ]:
dict_1={'banana':500, 'apple':400}
print(dict_1)
dict_sort_key = sorted(dict_1)
print(dict_1)
print(dict_sort_key)
# dict_sort_key=sorted(dict_1, key = lambda x: )

{'banana': 500, 'apple': 400}
{'banana': 500, 'apple': 400}
['apple', 'banana']

In [ ]:
my_dict = {'apple':3, 'orange':2, 'pear':4, 'banana':1}
print(my_dict)
print(my_dict.items())
sorted_dict_key = dict(sorted(my_dict.items(), key = lambda x: x[0]))
print(sorted_dict_key)
sorted_dict_value = dict(sorted(my_dict.items(), key = lambda x: x[1]))
print(sorted_dict_value)

{'apple': 3, 'orange': 2, 'pear': 4, 'banana': 1}
dict_items([('apple', 3), ('orange', 2), ('pear', 4), ('banana', 1)])
{'apple': 3, 'banana': 1, 'orange': 2, 'pear': 4}
{'banana': 1, 'orange': 2, 'apple': 3, 'pear': 4}

sum() 함수는 파이썬 내장 함수 중 하나로, iterable(반복 가능한) 객체의 모든 요소들의 합을 구해주는 함수입니다.

sum() 함수는 아래와 같은 형태로 사용할 수 있습니다.

In [ ]:
sum(iterable, start=0)

iterable: 합을 구할 iterable 객체입니다. 리스트, 튜플, 셋, 딕셔너리 등이 사용될 수 있습니다.
start (옵션): 처음 합산 값으로 사용할 값입니다. 기본값은 0입니다.
예를 들어, 아래와 같이 리스트의 합을 구할 수 있습니다.

In [ ]:
my_list = [1, 2, 3, 4, 5]
total = sum(my_list)  # 1 + 2 + 3 + 4 + 5 = 15
print(total)  # 출력 결과: 15

또한, start 인자를 지정하여 합산을 시작할 값을 변경할 수도 있습니다.

In [ ]:
my_list = [1, 2, 3, 4, 5]
total = sum(my_list, start=10)  # 10 + 1 + 2 + 3 + 4 + 5 = 25
print(total)  # 출력 결과: 25

In [34]:
for i in range(1,10):
  for j in range(2,10):
    print("%2d x %2d = %2d"%(j,i,j*i), end="     ")
  print()

 2 x  1 =  2      3 x  1 =  3      4 x  1 =  4      5 x  1 =  5      6 x  1 =  6      7 x  1 =  7      8 x  1 =  8      9 x  1 =  9
 2 x  2 =  4      3 x  2 =  6      4 x  2 =  8      5 x  2 = 10      6 x  2 = 12      7 x  2 = 14      8 x  2 = 16      9 x  2 = 18
 2 x  3 =  6      3 x  3 =  9      4 x  3 = 12      5 x  3 = 15      6 x  3 = 18      7 x  3 = 21      8 x  3 = 24      9 x  3 = 27
 2 x  4 =  8      3 x  4 = 12      4 x  4 = 16      5 x  4 = 20      6 x  4 = 24      7 x  4 = 28      8 x  4 = 32      9 x  4 = 36
 2 x  5 = 10      3 x  5 = 15      4 x  5 = 20      5 x  5 = 25      6 x  5 = 30      7 x  5 = 35      8 x  5 = 40      9 x  5 = 45
 2 x  6 = 12      3 x  6 = 18      4 x  6 = 24      5 x  6 = 30      6 x  6 = 36      7 x  6 = 42      8 x  6 = 48      9 x  6 = 54
 2 x  7 = 14      3 x  7 = 21      4 x  7 = 28      5 x  7 = 35      6 x  7 = 42      7 x  7 = 49      8 x  7 = 56      9 x  7 = 63
 2 x  8 = 16      3 x  8 = 24      4 x  8 = 32      5 x  8 = 40      6 x  8 = 48      7 x  8 = 56      8 x  8 = 64      9 x  8 = 72
 2 x  9 = 18      3 x  9 = 27      4 x  9 = 36      5 x  9 = 45      6 x  9 = 54      7 x  9 = 63      8 x  9 = 72      9 x  9 = 81

In [35]:
a = 4
b = 3
print(a,b)

temp =a
a=b
b=temp
print(a,b)

4 3
3 4

In [40]:
def swap(a,b):
  return b,a;
print(swap(3,4))
l_1=[4,3]
print(l_1)
temp=l_1[0]
l_1[0]=l_1[1]
l_1[1]=temp
print(l_1)

(4, 3)
[4, 3]
[3, 4]

In [47]:
l_2=[7,5,2,8]
print(l_2)

idx = 0
if l_2[idx]>l_2[1]:
  idx = 1
  print(l_2[idx])
else:
  idx = idx
print(idx)
print('--------------------------------')
if l_2[idx] > l_2[2]:
  idx = 2
  print(l_2[idx])
else:
   idx=idx
print(idx)
print('--------------------------------')
if l_2[idx] > l_2[3]:
  idx = 3
  print(l_2[idx])
else:
   idx=idx
print(idx)

print(l_2[idx])

[7, 5, 2, 8]
5
1
--------------------------------
2
2
--------------------------------
2
2

In [56]:
l_3=[7,5,2,8]
print(l_3)
print(len(l_3))

idx=0
for i in range(1,len(l_3)):
  if l_3[idx]>l_3[i]:
    idx = i
  print(l_3[idx])
print(idx)
print(l_3[idx])

temp=l_3[0]
l_3[0]=l_3[idx]
l_3[idx]=temp
print(l_3)
min_list=l_3[0]
print(min_list)

[7, 5, 2, 8]
4
5
2
2
2
2
[2, 5, 7, 8]
2

In [57]:
def my_f(list_v):
  idx=0
  for i in range(1,len(list_v)):
    if list_v[idx]>list_v[i]:
      idx = i
  temp=list_v[0]
  list_v[0]=list_v[idx]
  list_v[idx]=temp
  return list_v[0]
min_list=my_f([8,5,3,7])
print(min_list)

3