<a href="https://colab.research.google.com/github/sangxxjin/python/blob/main/python_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

삼항연산자는 세 개의 피연산자를 가지는 연산자로, 조건문을 평가한 결과에 따라 두 가지 중 하나의 값을 반환합니다. 파이썬에서는 삼항연산자를 다음과 같이 표현합니다:

In [ ]:
value_if_true if condition else value_if_false

여기서 condition은 평가할 조건식이고, value_if_true와 value_if_false는 조건식이 참일 때와 거짓일 때 반환될 값입니다.

예를 들어, 다음 코드는 변수 x가 0보다 크면 "양수", 그렇지 않으면 "음수 또는 0"을 출력합니다:

In [ ]:
x = 10
result = "양수" if x > 0 else "음수 또는 0"
print(result)  # 출력: 양수

삼항연산자는 if-else문과 같은 기능을 수행하지만, 간결한 코드를 작성할 때 유용합니다. 하지만, 지나치게 복잡한 조건식이나 여러개의 조건식이 필요한 경우, 가독성이 떨어지기 때문에 적절한 상황에서 사용하는 것이 좋습니다.

파이썬에서 if문과 함께 in 키워드를 사용하여 어떤 값이 리스트에 포함되어 있는지를 검사할 수 있습니다. 이 경우, in 키워드는 특정 값이 리스트에 포함되어 있는지 여부를 True 또는 False로 반환합니다. 이를 활용하여 if문을 작성할 수 있습니다.

예를 들어, 다음 코드는 리스트 fruits에 "사과"가 포함되어 있는지를 검사하여, 포함되어 있다면 "사과가 포함되어 있습니다."라는 메시지를 출력합니다.

In [ ]:
fruits = ["바나나", "오렌지", "사과", "포도"]

if "사과" in fruits:
    print("사과가 포함되어 있습니다.")
else:
    print("사과가 포함되어 있지 않습니다.")

위 코드는 "사과가 포함되어 있습니다."를 출력합니다.

in 키워드를 사용하면 리스트뿐만 아니라 문자열, 튜플, 세트 등의 컨테이너 타입에서도 사용할 수 있습니다.

In [9]:
sum = 0
odd_sum=0
even_sum=0
odd_list=[]
even_list=[]
for i in range(1,11):
  sum+=i
  if i%2==1:
    odd_sum+=i
    odd_list.append(i)
  else :
    even_sum+=i
    even_list.append(i)
print(sum)
print(odd_list, odd_sum)
print(even_list, even_sum)

55
[1, 3, 5, 7, 9] 25
[2, 4, 6, 8, 10] 30

In [14]:
print("apple","banana")
print("apple","banana2",sep=" ===> ", end = " ")
print("apple","banana3")

apple banana
apple ===> banana2 apple banana3

In [17]:
for i in range(10):
  print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [21]:
print(3+4, 3*4)
print([3]+[4], [3]*4)
print('a'+'b','a'*4)
print("-"*10)

7 12
[3, 4] [3, 3, 3, 3]
ab aaaa
----------

In [33]:
menu_dict= {"자장면" : 5000, "짬뽕" : 6000}
order = input("무엇을 원하시나요? \n\n자장면은 1 짬뽕은 2  ")

if order=='1':
  print("자장면을 주문했어요 가격은 %d입니다"%(menu_dict['자장면']))
elif order=='2':
  print("짬뽕을 주문했어요 가격은 %d입니다"%(menu_dict["짬뽕"]))
else:
  print("주문번호는 1과 2로 해주세요")

무엇을 원하시나요?

자장면은 1 짬뽕은 2  12
주문번호는 1과 2로 해주세요

In [47]:
ex_string = "apple, banana"
print(ex_string)
ex_string_list = list(ex_string)
print(ex_string_list)

# for char in ex_string:
#   print(char, end=' ')
print("----------")
ex_string_clean = ex_string.replace(" ","")
ex_string_clean = ex_string_clean.replace(","," ")
print(ex_string)
print("----------")
print(ex_string_clean)

for char in ex_string:
  print(char, end=' ')
print()
print(list(ex_string_clean))
# print(type(ex_string))
# print(type(ex_string_list))

apple, banana
['a', 'p', 'p', 'l', 'e', ',', ' ', 'b', 'a', 'n', 'a', 'n', 'a']
----------
apple, banana
----------
apple banana
a p p l e ,   b a n a n a
['a', 'p', 'p', 'l', 'e', ' ', 'b', 'a', 'n', 'a', 'n', 'a']

In [54]:
test_string = 'apple'
char_dict={}
for char in test_string:
  print(char)
  if char in char_dict:
    char_dict[char] = char_dict[char] +1
  else:
    char_dict[char]=1
    

  print(char,' =====> ',char_dict)
print(char_dict)

a
a  =====>  {'a': 1}
p
p  =====>  {'a': 1, 'p': 1}
p
p  =====>  {'a': 1, 'p': 2}
l
l  =====>  {'a': 1, 'p': 2, 'l': 1}
e
e  =====>  {'a': 1, 'p': 2, 'l': 1, 'e': 1}
{'a': 1, 'p': 2, 'l': 1, 'e': 1}

In [61]:
dim_1=[]
dim_2=[]

for i in range(1,13):
  dim_1.append(i)
  if i%3==0:
    print(dim_1)
    dim_2.append(dim_1)
    dim_1=[]

print(dim_2)
dim2_dim1=[]
for i in dim_2:
  dim2_dim1 +=i
print(dim2_dim1)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[10, 11, 12]
[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]