<a href="https://colab.research.google.com/github/sangxxjin/python/blob/main/python_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
id_1, id_2, id_3 = 2301, 2302, 2303
print(id_1, id_2, id_3)

name_1, name_2, name_3 = 'a', 'b', 'c'
eng_1, eng_2, eng_3 = 90, 80, 85
math_1, math_2, math_3 = 78, 68, 80
kor_1, kor_2, kor_3 = 94, 90, 90

a_avg = (eng_1 + math_1 + kor_1)/3
b_avg = (eng_2 + math_2 + kor_2)/3
c_avg = (eng_3 + math_3 + kor_3)/3
print(a_avg, b_avg, c_avg)

# avg_list = []
# for i in range(1,4):
#   avg = ("eng_%d"%i+"math_%d"%i+"kor_%d"%i)/3
#   avg_list.append(avg)
# print(avg_list)

if a_avg >= 80:
  print("귀하의 성적은 %f임으로로 합격입니다."%a_avg)
else:
  print("귀하의 성적은 %f임으로로 불합격격입니다."%a_avg)

2301 2302 2303
87.33333333333333 79.33333333333333 85.0
귀하의 성적은 87.333333임으로로 합격입니다.

이와 같이 실행하면 이미 문자형이기 때문에 숫자가 바뀐다고 그 문자의 값이 들어오는게 아니라 문자들을 붙혀쓰는 결과가 나온다.

In [24]:
id = [2301,2302,2303]
name = ['a','b','c']
eng = [90, 80, 85]
math = [78, 68, 80]
kor = [94, 80, 90]


avg_dict = {}
for i in len(id):
  avg = (eng[i] + math[i] + kor[i])/3
  if avg>= 80:
    print("귀하의 성적은 %f이므로 합격입니다."%avg)
    avg_dict[name[i]]=(avg,'합격')
  else:
    print("귀하의 성적은 %f이므로 합격입니다."%avg)
    avg_dict[name[i]]=(avg,'불합격')
print(avg_dict)


#   avg_dict[name[i]] = avg
# print(avg_dict)

# for i in range(0,3):
#   if avg_dict[name[i]]>=80:
#     print("귀하의 성적은 %f이므로 합격입니다."%avg_dict[name[i]])
#   else:
#     print("귀하의 성적은 %f이므로 불합격입니다."%avg_dict[name[i]])

귀하의 성적은 87.333333이므로 합격입니다.
귀하의 성적은 76.000000이므로 합격입니다.
귀하의 성적은 85.000000이므로 합격입니다.
{'a': (87.33333333333333, '합격'), 'b': (76.0, '불합격'), 'c': (85.0, '합격')}

In [22]:
table_dict = {'id' : [2301,2302,2303],
'name' : ['a','b','c'], 
'eng' : [90, 80, 85],
'math' : [78, 68, 80],
'kor' : [94, 80, 90]}
print(table_dict)

for k,v in table_dict.items():
  print(k, '====>', v)

{'id': [2301, 2302, 2303], 'name': ['a', 'b', 'c'], 'eng': [90, 80, 85], 'math': [78, 68, 80], 'kor': [94, 80, 90]}
id ====> [2301, 2302, 2303]
name ====> ['a', 'b', 'c']
eng ====> [90, 80, 85]
math ====> [78, 68, 80]
kor ====> [94, 80, 90]

이차원 리스트[[]]

In [ ]:
my_list=[]

id = [2301,2302,2303]
name = ['a','b','c']
eng = [90, 80, 85]
math = [78, 68, 80]
kor = [94, 80, 90]

In [23]:
dim_list_2 = [["id", "name", "eng", "math", "kor"],
              [2301, 'a',90, 78, 94]]
print(dim_list_2)
print(dim_list_2[0])
print(dim_list_2[0][2])

[['id', 'name', 'eng', 'math', 'kor'], [2301, 'a', 90, 78, 94]]
['id', 'name', 'eng', 'math', 'kor']
eng

In [25]:
id = [2301,2302,2303]
name = ['a','b','c']
eng = [90, 80, 85]
math = [78, 68, 80]
kor = [94, 80, 90]

avg_dict={}
for i in range(0,3):
  avg=(eng[i]+math[i]+kor[i])/3
  avg_dict[name[i]]=avg
  if(avg>=80):
    print("당신의 점수는 %f임으로 합격입니다"%avg)
  else:
    print("당신의 점수는 %f임으로 불합격입니다"%avg)
print(avg_dict)

당신의 점수는 262.000000임으로 합격입니다
당신의 점수는 228.000000임으로 합격입니다
당신의 점수는 255.000000임으로 합격입니다
{'a': 262, 'b': 228, 'c': 255}